<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Deletar Cliente</h1>
    <div>
        <form action="{{ url_for('delete_cliente') }}" method="POST">
            <fieldset>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" class="form-control">
            </div>
          <button type="submit" class="btn btn-primary btn-salvar">Deletar</button>
        </fieldset>
      </form>
    </div>

</body>
</html>